<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Chinese Text Annotator</title>
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/site.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script> -->
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>

  <h1>Chinese Text Annotator</h1>

  <div class="input-side">
    <form name="input-form" action="{{ url_for('input') }}" method="POST">
      <p>
        <strong>Enter Text to Translate: </strong>
        <textarea class="textarea resize-ta" name="input" id="input" value="{{ input }}">{{ input }}</textarea>
      </p>
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class="trans-side">
    {% if seg_list %}
    <p>
      {% for segment in seg_list %}

      <!-- check for line breaks and spaces -->
      <!-- {{segment}} -->
      {% if ((segment[0][1] == -1) and ((segment[0][0] == '\n') or (segment[0][0] == '\r'))) %} <br>
      {% elif ((segment[0][1] == -1) and (segment[0][0] == ' '))%} &ensp;

      {% else %}

      <!-- add pinyin -->

      <span class="character-bubble">
        {% for character in segment %}
        <span class="character" id="seg{% if character[1] != -1 %}{{ character[1] }}{% endif %}">
          {{ character[0] }}
        </span>
        {% endfor %}
      </span>

      {% endif %}
      {% endfor %}
    </p>
    {% endif %}
  </div>
  <p>{{trans_dict}}</p>
</body>

<script>
  // seg_list = {{ seg_list }};
  // console.log(seg_list);

  // const tkn_dict = {{ tk_dict }};
  // const trans_dict = {{ trans_dict }};
  // console.log(trans_dict);

  let textarea = document.querySelector(".resize-ta");
  textarea.addEventListener("keyup", () => {
    textarea.style.height = calcHeight(textarea.value) + "px";
  });

  $(".character").hover(function () {
    if ($(this).attr("id") != 'seg') {
      idx = $(this).attr("id").slice(3);
      console.log(idx);
    }
  });
</script>

</html>